<span class="br-divider sm my-4"></span>
<div class="process-home-container">
  <h2 class="page-subtitle">Informações Gerais</h2>
  <div class="process-home-content">
    <div class="first-content">
      <% if translated_attribute(current_participatory_space&.area&.name).present? %>
        <p class="ministry-text">
          <%= translated_attribute(current_participatory_space.area.name) %>
        </p>
      <% end %>
      <% if translated_attribute(current_participatory_space&.participatory_process_group&.title).present? %>
        <p class="process-group-text">
          <i class="fa-solid fa-landmark"></i> <%= translated_attribute(current_participatory_space.participatory_process_group.title) %>
        </p>
      <% end %>
      <% if false and translated_attribute(current_participatory_space&.developer_group).present? %>
        <p>
          <strong>Setor</strong>: <%= translated_attribute(current_participatory_space.developer_group) %>
        </p>
      <% end %>
      <% if translated_attribute(current_participatory_space&.target).present? %>
        <div class="colorful-card">
          <% if translated_attribute(current_participatory_space&.target).present? %>
            <p>
              <strong>Responsável:</strong> <%= translated_attribute(current_participatory_space.target) %>
            </p>
          <% end %>
          <% if translated_attribute(current_participatory_space&.participatory_structure).present? %>
            <p>
              <strong>Contato:</strong> <%= translated_attribute(current_participatory_space.participatory_structure) %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="second-content">
      <%= render partial: 'decidim/shared/initial_and_end_date', locals: { current_participatory_space: current_participatory_space } %>
      <% if translated_attribute(current_participatory_space&.publish_date).present? && translated_attribute(current_participatory_space&.participatory_scope).present? %>
        <div class="dou-section">
          <span class="dou-container">
            <span class="label-dou">Publicação no DOU</span>
            <a class="br-button secondary" href="<%= translated_attribute(current_participatory_space.participatory_scope) %>">
              <i class="fa-solid fa-sm fa-external-link-alt mr-2"></i>
              Acessar
            </a>
          </span>
          <p class="publish-date-dou">
            publicado em: <%= l(current_participatory_space.publish_date) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<span class="br-divider sm my-4"></span>
