<% add_decidim_meta_tags(title: t("participatory_processes.index.title", scope: "decidim")) %>
<%
edit_link(
  decidim_admin_participatory_processes.participatory_processes_path,
  :read,
  :process_list
)
%>
<%= participatory_space_wrapper do %>
  <% if promoted_collection.any? %>
    <section id="highlighted-processes" class="row section">
      <h1 class="section-heading"><%= t("participatory_processes.index.promoted_processes", scope: "layouts.decidim") %></h1>
      <% promoted_collection.each do |promoted_item| %>
        <%= render_highlighted_partial_for promoted_item %>
      <% end %>
    </section>
  <% end %>
  <section id="processes-grid" class="section row collapse">
    <div class="processes-grid-order-by">
      <%= render partial: "order_by_processes" %>
    </div>
    <%= render partial: "decidim/shared/participatory_space_filters/show" %>
    <p class="loading"><%= t(".loading") %></p>
    <div class="component-content card-grid">
      <%= render partial: "decidim/components/list", locals: {
          elements_name: "process", 
          collection: collection
        } 
      %>
    </div>
  </section>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_participatory_processes" %>
<% end %>
