<% provide(:title, present(meeting).title) %>
<% add_decidim_meta_tags({
  title: present(meeting).title,
  description: present(meeting).description,
  url: meeting_url(meeting.id)
}) %>
<% edit_link(
  resource_locator(meeting).edit,
  :update,
  :meeting,
  meeting: meeting
)
%>

<div class="br-container-lg">
  <div class="m-bottom">
    <%= link_to meetings_path, class: "small hollow js-back-to-list" do %>
      <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
      <%= t(".back") %>
    <% end %>
  </div>
  <div class="content-container">
    <div class="main-content">
      <%== cell("decidim/meetings/meeting_m", @meeting, full_badge: true).badge %>
      <h2 class="title"><%= present(meeting).title(links: true, html_escape: true ) %></h2>
      <div class="section">
        <% if meeting.private_meeting? %>
          <span class="<%= meeting_type_badge_css_class("private") %> label proposal-status">
            <%= t("private_meeting", scope: "decidim.meetings.types") %>
          </span>
        <% end %>
        <% if meeting.private_meeting? and meeting.transparent? %>
          <span class="<%= meeting_type_badge_css_class("transparent") %> label proposal-status">
            <%= t("transparent", scope: "decidim.meetings.types") %>
          </span>
        <% end %>
        <% if meeting.withdrawn? %>
          <span class="<%= meeting_type_badge_css_class("withdraw") %> label proposal-status">
            <%= t("withdraw", scope: "decidim.meetings.types") %>
          </span>
        <% end %>
        <%= render_meeting_body(@meeting) %>
        <div class="meetings-author-info-br">
          <%= cell "decidim/author", author_presenter_for(meeting.normalized_author), has_actions: true, from: meeting, context: { extra_classes: ["author-data--small"] } %>
        </div>
        <% if meeting.maps_enabled? && !meeting.online_meeting? %>
          <div class="br-divider space-above"></div>
          <%= render partial: "decidim/shared/static_map", locals: { icon_name: "meetings", geolocalizable: meeting } %>
          <div class="br-divider"></div>
        <% end %>
        <% unless meeting.in_person_meeting? || meeting.withdrawn? %>
          <%= cell "decidim/meetings/online_meeting_link", meeting %>
        <% end %>
      </div>
      <%= render partial: "decidim/shared/tags", locals: { resource: meeting, tags_class_extra: "tags--meeting" } %>
      <% if meeting.agenda.present? && meeting.agenda.visible? %>
        <%= render "meeting_agenda" %>
      <% end %>
      <%= cell "decidim/meetings/public_participants_list", meeting %>
      <% if !meeting.closed? && meeting.user_group_registrations.any? %>
        <% user_group_ids = meeting.user_group_registrations.user_group_ids %>
        <div class="section">
          <h4 class="section-heading"><%= t(".organizations") %></h4>
          <div class="card card--list">
            <% Decidim::UserGroup.where(id: user_group_ids).each do |group| %>
              <div class="card--list__item">
                <div class="card--list__text card--list__text--top">
                  <%= cell "decidim/author", present(group) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if meeting.closed? && meeting.closing_visible? %>
        <div class="section">
          <h3 class="section-heading"><%= t(".meeting_minutes") %></h3>
          <%= decidim_sanitize_editor translated_attribute meeting.closing_report %>
        </div>
      <% end %>
      <%= linked_resources_for meeting, :proposals, "proposals_from_meeting" %>
      <%= linked_resources_for meeting, :results, "meetings_through_proposals" %>
      <% if meeting.services.any? %>
        <div class="card card--list">
          <% meeting.services.each do |service| %>
            <div class="card--list__item">
              <div class="card--list__text card--list__text--top">
                <%= icon "actions", class: "card--list__icon alert", role: "img", "aria-hidden": true %>
                <div>
                  <h3 class="card--list__heading heading-small"><%= translated_attribute(service["title"]) %></h3>
                  <span class="text-medium"><%= translated_attribute(service["description"]) %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="side-content">
      <% if allowed_to?(:update, :meeting, meeting: meeting) %>
        <%= link_to t(".edit_meeting"), edit_meeting_path(meeting), class: "button secondary hollow expanded button-sc button--icon follow-button" %>
      <% end %>
      <% if allowed_to?(:close, :meeting, meeting: meeting) %>
        <% caption =  meeting.closed? ? t(".edit_close_meeting") : t(".close_meeting") %>
        <%= link_to caption, edit_meeting_meeting_close_path(meeting_id: meeting.id, id: meeting.id), class: "button hollow expanded button-sc button--icon follow-button" %>
      <% end %>
      <div class="card-component">
        <div class="card-component__content">
          <div class="header">
          <i class="fas fa-globe data-icon"></i>
          <p>Evento <%= t("decidim.meetings.type_of_meeting.#{meeting.type_of_meeting}") %></p>
        </div>
        <span class="br-divider"></span>
          <%= cell("decidim/date_range", { start: meeting.start_time, end: meeting.end_time }) %>
          
          <%= render partial: "calendar_modal", locals: {
              ics_url: calendar_meeting_url(meeting),
              google_url: google_calendar_event_url(meeting) 
            } 
          %>
        </div>
        <% if meeting.closed? && meeting.closing_visible? %>
          <span class="br-divider"></span>
          <% if meeting.has_contributions? %>
            <div class="definition-data__item">
              <span><%= t(".contributions") %></span>
              <span class="definition-data__number"><%= meeting.contributions_count %></span>
            </div>
          <% end %>
          <% if meeting.has_attendees? %>
            <div class="definition-data__item">
              <span><%= t(".attendees") %></span>
              <span class="definition-data__number"><%= meeting.attendees_count %></span>
            </div>
          <% end %>
          <% if meeting.attending_organizations.present? %>
            <div class="definition-data__item">
              <span><%= t(".organizations") %></span>
              <span class="definition-data__text"><%= simple_format(meeting.attending_organizations) %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="card-component">
        <div class="meetings-subs-count">
          <div class="subs-count">
            <%= meeting.subscribers_count %>
          </div>
          <div class="subs-legend">
            inscritos
          </div>
        </div>
        <%= cell "decidim/meetings/join_meeting_button", meeting, big_button: true, show_remaining_slots: true %>
      </div>
      <div class="meetings-br-actions-buttons">
        <%= render partial: "decidim/shared/share_modal", locals: {
              translation_component: t("decidim.shared.share_modal.share_text_meeting",
              resource_name: resource_title(@meeting),
              component_name: resource_title(current_participatory_space))
            }
        %>
        <% if current_user.try(:admin?) %>
          <button type="button" class="br-button" data-open="flagModal" title="Denunciar"
            aria-controls="flagModal" aria-haspopup="dialog" tabindex="0">
            <i class="fas fa-flag mr-2" aria-hidden="true"></i>
            <%= t("decidim.meetings.meetings.moderation.label") %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <%= attachments_for meeting %>
  <%= comments_for meeting %>
  <%= pad_iframe_for meeting %>
  <%= cell("decidim/flag_modal", meeting) %>
</div>