<div class="card card__animation column <%= card_classes %>" id="<%= dom_id(model) %>">
<div>
  <%= render :label if has_label? %>
  <%= render :top if render_top? %>
  <%= render :image if has_image? %>
  <div class="component-card__content">

    <%= render :badge if has_badge? %>
    <%= render :header if has_header? %>

    <div class="card__text--paragraph">
      <%= Decidim::ContentProcessor.render(description, "div") %>
    </div>
    <%= render :tags %>
  </div>

  <%= render :data %>
  </div>
  <%= render :footer %>
</div>